<div class="page-title">
    <div class="title_left">
        <h3>Les appareils</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <!--div class="col-md-12 col-sm-12 col-xs-12">
        <div id="map"></div>
    </div-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#newModal">Ajouter un appareil
            </button>
            <div class="input-group">
                <input type="text" class="form-control" style="border-radius: 10px;" placeholder="Recherche"
                       ng-model="search">
            </div>
        </div>
        <table id="appareils" class="table table-striped responsive-utilities jambo_table table-responsive">
            <thead>
            <tr class="headings">
                <th>Référence</th>
                <th style="width: auto;"></th>
                <th style="width: auto;"></th>
            </tr>
            </thead>

            <tbody>
            <tr class="even pointer" ng-repeat="appareil in appareils | filter:search">
                <td>{{appareil.reference}}</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" ng-click="updateAppareil(appareil)"
                            data-target="#updateModal">Modifier
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" ng-click="deleteAppareil(appareil)"
                            data-target="#deleteModal">Supprimer
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myUpdateModalLabel">Modifier appareil</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">Les champs avec (*) sont obligatoires</p>
                <form class="form-horizontal form-label-left" name="frm">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nom">Référence <span
                                class="required text-danger">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="nom" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"
                                   autofocus ng-model="selectedAppareil.reference"
                                   data-validate-words="2" name="reference" placeholder="Référence"
                                   required type="text">
                            <span class="fa fa-desktop form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="reset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <button id="send" type="submit" class="btn btn-success" ng-click="update(selectedAppareil)"
                                    ng-disabled="frm.$invalid"
                                    data-dismiss="modal">Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="newModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un appareil</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">Les champs avec (*) sont obligatoires</p>
                <form class="form-horizontal form-label-left" name="frm2">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nom">Référence <span
                                class="required text-danger">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="newref" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"
                                   autofocus ng-model="appareil.reference"
                                   data-validate-words="2" name="reference" placeholder="Référence"
                                   required type="text">
                            <span class="fa fa-desktop form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="societes">Société <span
                                class="required text-danger">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="societes" name="societes"
                                    ng-options="societe as societe.nom for societe in societes"
                                    ng-model="appareil.societe"
                                    required style="height: 30px;width: 100%;"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="reset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <button id="newsend" type="submit" class="btn btn-success" ng-click="save(appareil)"
                                    ng-disabled="frm2.$invalid" data-dismiss="modal">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Supprimer appareil</h4>
            </div>
            <div class="modal-body">
                <div align="center">
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" ng-click="delete(selectedAppareil)" data-dismiss="modal">Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>